[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Boot Sector
[access "refs/*"]
	owner = group user/Mukesh Kumar Chaursiya (mukeshmike9)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mukesh Kumar Chaursiya (mukeshmike9)
	label-Verified = -1..+1 group user/Mukesh Kumar Chaursiya (mukeshmike9)
	push = group user/Mukesh Kumar Chaursiya (mukeshmike9)
	read = group user/Mukesh Kumar Chaursiya (mukeshmike9)
	rebase = group user/Mukesh Kumar Chaursiya (mukeshmike9)
	removeReviewer = group user/Mukesh Kumar Chaursiya (mukeshmike9)
	submit = group user/Mukesh Kumar Chaursiya (mukeshmike9)
[access "refs/heads/*"]
	create = group user/Mukesh Kumar Chaursiya (mukeshmike9)
	push = +force group user/Mukesh Kumar Chaursiya (mukeshmike9)
	pushMerge = group user/Mukesh Kumar Chaursiya (mukeshmike9)
	read = group user/Mukesh Kumar Chaursiya (mukeshmike9)
[access "refs/tags/*"]
	push = group user/Mukesh Kumar Chaursiya (mukeshmike9)
	push = +force group user/Mukesh Kumar Chaursiya (mukeshmike9)
